modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 44379893
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start Backend"
author = 44379893
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm install && npm run dev"

[[workflows.workflow]]
name = "Deploy Program"
author = 44379893
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "anchor build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "anchor deploy --provider.cluster devnet"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "ts-node scripts/deploy.ts"
